<div id="container" class="center-block">

  <router-outlet></router-outlet>
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Altium Plus - Component Wizard</h3>
      </div>
      <div class="panel-body">

        <div class="panel panel-default ">
          <div class="panel-body" style="background:#f9f9f9;">

            <h2>Search Component</h2>
            <h4> Search for existing components in the Smarteam dump and import extractable parameters.</h4>
            <br>
            <p><a class="btn btn-primary btn-lg pull-right" href="page/search" role="button">Search</a></p>
            <br>
            <br>
          </div>
        </div>

        <h1 class="text-center"> OR </h1>

        <div class="panel panel-default">
          <div class="panel-body" style="background:#f9f9f9;">

            <h2>Create Component</h2>
            <h4> Create a new component if it does not exist in Smarteam or is owned by another location.</h4>
            <br>
            <p><a href="page/addcomponent" class="btn btn-primary btn-lg pull-right" href="#" role="button">Create</a>
            </p>
            <br>
            <br>
          </div>
        </div>


        <div class="panel panel-default">
          <div class="panel-body text-center" style="background:#f9f9f9;">

            <p><a href="page/admin" class="btn btn-primary btn-lg " style="width:200px" role="button">Administration
              Menu</a></p>
          </div>
        </div>


      </div>
    </div>

  </div>
</div>
